# Document Processing
python-docx==0.8.11
pypdf>=3.0.0
reportlab>=3.6.12

# Web Service
flask>=2.0.0
pyngrok>=5.0.0
gunicorn>=20.1.0
requests>=2.0.0
beautifulsoup4>=4.0.0
airportsdata>=2022.0.0
pytz>=2021.1
python-dotenv>=0.19.0
SQLAlchemy>=1.4.0
psycopg2-binary>=2.9.0
